{% if item.mysql_host and item.mysql_host|length > 0%}
<?php
$cfg['Servers'][$i]['verbose']       = '{{ item.mysql_description | default(item.mysql_host)}}'; 
$cfg['Servers'][$i]['host']          = '{{ item.mysql_host}};
$cfg['Servers'][$i]['port']          = '{{ item.mysql_port | default('3306')}}';
$cfg['Servers'][$i]['connect_type']  = '{{ item.mysql_connect_type | default('tcp')}}';
$cfg['Servers'][$i]['extension']     = '{{ item.extension | default('mysqli')}}';
$cfg['Servers'][$i]['compress']      = '{{ item.copress | default('FALSE')}}';
$cfg['Servers'][$i]['auth_type']     = '{{ item.mysql_auth_type | default('cookie')}}';
$cfg['Servers'][$i]['user']          = '{{ item.mysql_user | default('')}}';
$cfg['Servers'][$i]['password']      = '{{ item.mysql_password | default('')}}';
$i++;
{% endif %}